---
---

@import "reset";
@import "colors";
@import "navigation";
@import "prose";

/* База */

$font-family: "JetBrains Mono", monospace;

body {
  width: auto;
  font-family: $font-family;
  background-color: $bg;
  height: 100%;
}

pre {
  font-family: $font-family;
  white-space: pre;
  line-height: 120%;
  overflow-x: auto;
}

p {
  font-size: 16px;
  line-height: 140%;
  color: $black;
}

/* Каркас */

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 684px;
  padding: 20px 16px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* Заголовки */

h1 {
  font-weight: 800;
  font-size: 18px;
  line-height: 140%;
  color: $primary;
}

/* Анимации */

.transition-sm {
  transition: opacity 0.15s ease;

  &:hover {
    opacity: 0.8;
  }
}

/* --- Инклуды --- */

/* Шапка */

.header {
  width: 100%;
  border-bottom: 1px solid $gray;

  &__container {
    max-width: 684px;
    margin: 0 auto;
    padding: 20px 16px;
  }
}

/* Футер */

.footer {
  flex-shrink: 0;
  width: 100%;
  border-top: 1px solid $gray;
  background-color: $gray-light;

  &__container {
    max-width: 684px;
    margin: 0 auto;
    padding: 20px 16px;
  }

  p {
    font-size: 12px;
    line-height: 140%;
  }

  span {
    font-size: 12px;
    line-height: 140%;
  }
}

/* Назад */

.back {
  margin-bottom: 24px;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $gray-dark;

  &:hover {
    color: $black;
  }
}
