<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>

  <body>
    <div class="site-wrapper">
      {% include header.html %}
      <main class="container">{{ content }}</main>
      {% include footer.html %}
    </div>

    <script src="{{ '/assets/scripts/year.js' | relative_url }}"></script>
  </body>
</html>
